# Persona
PERSONA_API_KEY=
PERSONA_WEBHOOK_SECRET=

# Lithic
LITHIC_API_KEY=
LITHIC_WEBHOOK_SECRET=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# Column
COLUMN_API_KEY=
COLUMN_WEBHOOK_SECRET=

# Application
DATABASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
