# Persona
PERSONA_API_KEY=
PERSONA_WEBHOOK_SECRET=

# Lithic
LITHIC_API_KEY=
LITHIC_WEBHOOK_SECRET=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# Increase ACH
INCREASE_API_KEY=
INCREASE_ENV=sandbox
INCREASE_ACCOUNT_ID=
INCREASE_ACCOUNT_NUMBER=
INCREASE_ACCOUNT_ROUTING_NUMBER=
INCREASE_FUNDING_ACCOUNT_NUMBER=
INCREASE_FUNDING_ROUTING_NUMBER=
INCREASE_RECIPIENT_ACCOUNT_NUMBER=
INCREASE_RECIPIENT_ROUTING_NUMBER=

# Application
DATABASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
